@import url('https://fonts.googleapis.com/css?family=Quicksand');
html, body {
  font-family: 'Quicksand', sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.item {
  background-color: #343a40;
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  padding: 15px 0;
  max-width: 1140px;
  margin-top: 80px;
  margin-bottom: 160px;
}

.item .capa {
  width: 250px;
  height: 370px;
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-position: center;
  top: -45px;
  left: 130px;
  border-radius: 5px;
  z-index: 3;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

.item .conteudo {
  display: block;
  width: 100%;
  max-width: 625px;
  margin-left: 480px;
}

.item .conteudo .favorito {
  text-align: right;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 20px;
  opacity: .8;
}

.item .conteudo .favorito .on {
  color: #ff0000;
}

.item .conteudo h2 {
  color: #fff;
  font-size: 38px;
  display: block;
  text-align: center;
  width: 100%;
  margin: 30px 0 0;
  padding: 0;
}

.item .conteudo p {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  color: #948a99;
  text-align: center;
  min-height: 80px;
  margin: 30px 0;
  width: 100%;
  padding: 0;
}

.item .conteudo .nota {
  display: block;
  width: 100%;
  text-align: right;
  font-size: 14px;
  color: #fff;
}
.item .conteudo .nota i {
  margin-left: 3px;
}
.item .conteudo .nota .on {
  color: #ffc741;
}
.item .conteudo .info {
  color: #948a99;
  display: block;
  margin-top: 10px;
  text-align: right;
}